<%= f.fields_for(:custom_attributes) do |sf| %>
  <% m.custom_attributes.each do | key, value | %>
    <div class="form-group">
      <%= sf.label key.to_sym %><br />
      <%= sf.text_field key.to_sym, value: value, autofocus: true, class: "form-control" %>
    </div>
  <% end %>
<% end %>

<div class="dropdown-divider"></div>

<div>
  <a href="#" class="btn btn-icon icon-left">
    <svg data-v-2beb9cd3="" width="14" height="14" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon icon--font add"><path d="M11.75 3a.75.75 0 0 1 .743.648l.007.102.001 7.25h7.253a.75.75 0 0 1 .102 1.493l-.102.007h-7.253l.002 7.25a.75.75 0 0 1-1.493.101l-.007-.102-.002-7.249H3.752a.75.75 0 0 1-.102-1.493L3.752 11h7.25L11 3.75a.75.75 0 0 1 .75-.75Z" fill="currentColor"></path></svg>
    Adicionar atributo
  </a>



<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>




</div>