<div class="p-1 bg-light-palette-p5 rounded-md border-light-palette-p3 h-full">
  <%= render "/accounts/deals/details/show", model: @deal, model_name: 'Negócio', edit_path: edit_account_deal_path(current_user.account, @deal) %>
  <div class="border-t border-light-palette-p3"></div>
  <%= render "/accounts/deals/details/show", model: @deal.contact, model_name: 'Contato', edit_path: edit_account_contact_path(current_user.account, @deal.contact) %>

  <%# render 'contacts' %>
</div>