<div class="col-lg-4 pr-0">
  <%= render 'components/details_form/details_form' %>
  <div class="card card-primary">
    <div class="card-header">
      <h4>Contact</h4>
    </div>
    <div class="card-body">
      <%= render '/accounts/contacts/form', contact: @deal.contact %>
    </div>
  </div>
</div>