<div class="col-lg-4 pr-0">
  <%= render "/accounts/deals/details/show", model: @deal, model_name: 'Negócio' %>

  <div class="card card-primary">
    <div class="card-header">
      <h4>Contact</h4>
    </div>
    <div class="card-body">
      <%= render '/accounts/contacts/form', contact: @deal.primary_contact %>
    </div>
  </div>

  <%= render 'contacts' %>
</div>