<div class="p-1 bg-light-palette-p5 rounded-t-md border-2 border-light-palette-p3 border-light-palette-p3">
  <%= render "/accounts/deals/details/show", model: @deal, model_name: 'Negócio', edit_path: edit_account_deal_path(current_user.account, @deal) %>
</div>
<div class="p-1 bg-light-palette-p5 rounded-b-md border-x-2 border-b-2 border-light-palette-p3 border-light-palette-p3">
  <%= render "/accounts/deals/details/show", model: @deal.contact, model_name: 'Contato', edit_path: edit_account_contact_path(current_user.account, @deal.contact) %>
</div>
  <%# render 'contacts' %>