
  <button class="w-full hover:bg-gray-100 relative min-[1400px]:hidden flex items-center h-10 pr-3 border-2 rounded-lg bg-light-palette-p5 border-light-palette-p3" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
    <div class="p-2  border-r-2 border-r-light-palette-p3 rounded-l-md">
      <i data-lucide="chevron-right" ></i>
    </div>
    <p class="m-0 font-semibold mx-2 text-center">Informações</p>
    <p class=" m-0 items-center text-center whitespace-nowrap truncate pl-2 font-medium before:bg-light-palette-p3 before:absolute before:rounded-full before:left-[135px] before:h-7 before:w-0.5 before:bg-indigo-500">Resumo, Pessoa, Organização</p>
  </button>
  <div id="drawer-navigation" class="fixed top-0 left-0 z-40 w-full sm:w-5/12 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white" tabindex="-1" aria-labelledby="drawer-navigation-label">
    <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Informações</h5>
    <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close menu</span>
    </button>
  <div class="py-4">
    <%= render "/accounts/deals/details/show", model: @deal, model_name: 'Negócio', edit_path: edit_account_deal_path(current_user.account, @deal),  dropdown_type: 'Canvas'   %>
    <%= render "/accounts/deals/details/show", model: @deal.contact, model_name: 'Contato', edit_path: edit_account_contact_path(current_user.account, @deal.contact),  dropdown_type: 'Canvas' %>
   </div>
  </div>
  <div class="p-1 hidden min-[1400px]:block bg-light-palette-p5 rounded-t-md border-2 border-light-palette-p3 border-light-palette-p3">
    <%= render "/accounts/deals/details/show", model: @deal, model_name: 'Negócio', edit_path: edit_account_deal_path(current_user.account, @deal), dropdown_type: 'Card' %>
  </div>
  <div class="p-1 hidden min-[1400px]:block bg-light-palette-p5 rounded-b-md border-x-2 border-b-2 border-light-palette-p3 border-light-palette-p3">
    <%= render "/accounts/deals/details/show", model: @deal.contact, model_name: 'Contato', edit_path: edit_account_contact_path(current_user.account, @deal.contact),  dropdown_type: 'Card' %>
  </div>