<section class="section">
  <div class="section-header">
    <h1>Settings</h1>
  </div>

  <div class="section-body">
    <div class="row">
      <div hidden class="col-lg-6">
        <div class="card card-large-icons">
          <div class="card-icon bg-primary text-white">
            <i class="fas fa-stopwatch"></i>
          </div>
          <div class="card-body">
            <h4>Activities</h4>
            <p>Configure CRM activities.</p>
            <%= link_to '#', class:"card-cta" do %>
              Configure activities<i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-large-icons">
          <div class="card-icon bg-primary text-white">
            <i class="fas fa-code"></i>
          </div>
          <div class="card-body">
            <h4>Campos personalizados</h4>
            <p>Crie e altere campos personalizados nos seus contatos e negócios.</p>
            <%= link_to account_custom_attributes_definitions_path(current_user.account), class:"card-cta" do %>
              Configurar campos personalizados<i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-large-icons">
          <div class="card-icon bg-primary text-white">
            <i class="fab fa-whatsapp"></i>
          </div>
          <div class="card-body">
            <h4>Whatsapp - WP Connect</h4>
            <p>Configure sua conexão com o Whatsapp.</p>
            <%= link_to account_apps_wpp_connects_path(current_user.account), class:"card-cta" do %>
              Configurar Whatsapp<i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-large-icons">
          <div class="card-icon bg-primary text-white">
            <i class="fab fa-whatsapp"></i>
          </div>
          <div class="card-body">
            <h4>Chatwoot</h4>
            <p>Configure sua conexão com o Chatwoot.</p>
            <%= link_to new_account_apps_chatwoot_path(current_user.account), class:"card-cta" do %>
              Configurar Chatwoot<i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>