<%= render "components/events/form/chatwoot_message", event: event, url: account_pipeline_create_bulk_action_path(current_user.account, pipeline, stage_id: stage), edit_event_form: true %>
<div class="flex items-center justify-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
  <p class="typography-text-m-lh150 text-dark-gray-palette-p4">A mensagem será enviada pelo chatwoot com um pequeno delay</p>
</div>
