<%= form.fields_for(:custom_attributes) do |sf| %>
  <% current_user.account.custom_attributes_definitions.where(attribute_model: "#{model.class.name.downcase}_attribute").each do | custom_attribute | %>
    <div class="flex items-center pb-3">
      <%= sf.label custom_attribute.attribute_key.to_sym, custom_attribute.attribute_display_name, class: 'm-0' %>
      <div class="flex-auto rounded-md mx-3 border-t border-light-palette-p3"></div>
      <%= sf.text_field custom_attribute.attribute_key.to_sym, value: model.custom_attributes[custom_attribute.attribute_key], class: "rounded-md w-48 h-10 border-light-palette-p2 bg-light-palette-p3" %>
    </div>
  <% end %>
<% end %>