<% model.custom_attributes.each do | custom_attribute | %>
  <% if custom_attribute[1].present? %>
    <div class="flex last:pb-0 pb-4 items-center">
      <label class="flex-none max-w-[10rem] m-auto typography-text-m-lh150 text-dark-gray-palette-p3"><%= model.custom_attribute_display_name(custom_attribute[0]) %></label>
      <div class="flex-auto rounded-md mx-3 border-t border-light-palette-p3"></div>
      <p class="typography-text-m-lh150 text-dark-gray-palette-p3 max-w-[14rem]"><%= custom_attribute[1] %></p>
    </div>
  <% end %>
<% end %>
