<ul class="max-w-[14rem] flex justify-end flex-wrap gap-2">
  <% labels.each do |label|  %>
  <!-- <li class="odd:bg-light-palette-p2 odd:text-dark-gray-palette-p2 even:bg-light-palette-p3 even:text-dark-gray-palette-p1 py-1 px-1.5 flex rounded cursor-default flex gap-1.5 items-center"> -->
  <!-- <li class="odd:bg-brand-palette-07 odd:text-brand-palette-03 even:bg-brand-palette-08 even:text-brand-palette-04 py-1 px-1.5 flex rounded cursor-default flex gap-1.5 items-center"> -->
  <li class="odd:bg-brand-palette-06 odd:text-brand-palette-02 even:bg-brand-palette-07 even:text-brand-palette-03 py-1 px-1.5 flex rounded cursor-default flex gap-1.5 items-center">
  <!-- <li class="odd:bg-[#5440D2] odd:text-light-palette-p4 even:bg-brand-palette-03 even:text-light-palette-p4 py-1 px-1.5 flex rounded cursor-default flex gap-1.5 items-center"> -->
    <div class="w-[8px] h-[8px] bg-light-palette-p5 shadow-inner rounded-lg"></div>
    <p class="typography-sub-text-m-lh150"><%= label %></p>
  </li>
  <% end %>
</ul>
