<%= stylesheet_link_tag "detail-form", media: 'all' %>

<div>
  <div class="bg-light-palette-p4 rounded-md">
      <div class="flex p-2">
        <p class="mt-2 px-3 font-semibold text-lg mr-auto">Negócio</p>
        <a class="mt-2 border-r-2 h-5 pr-2" href="#">Salvar alterações</a>
        <a class="mt-2 pl-4 mr-2" href="#">X</a>
      </div>
    </div>
    <div class="ml-3">
      <div class="flex items-center">
        <label class="flex-none m-auto">Valor</label>
        <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
        <input class="w-46 rounded-md border-light-palette-p2 bg-light-palette-p3 mr-2.5" placeholder="R$ 0,00" type="text">
      </div>
      <div class="flex items-center mt-2">
        <label>Idade do negócio</label>
        <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
        <input class="rounded-md w-46 border-light-palette-p2 bg-light-palette-p3 mr-2.5" type="text" placeholder="Idade">
      </div>
      <div class="flex items-center mt-2">
        <label>Etiqueta</label>
        <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
        <input class="rounded-md w-46 border-light-palette-p2 bg-light-palette-p3 mr-2.5" type="text" value="Select">
      </div>
      <div class="flex items-center mt-2">
        <label>Probabilidade</label>
        <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
        <input class="rounded-md w-46 border-light-palette-p2 bg-light-palette-p3 mr-2.5" type="text" value="Definir">
      </div>
      <div class="flex items-center mt-2">
        <label>Responsavel</label>
        <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
        <input class="rounded-md w-46 border-light-palette-p2 bg-light-palette-p3 mr-2.5" type="text" placeholder="Nome">
      </div>
      <div class="flex items-center mt-2">
        <label>Organização</label>
        <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
        <input class="rounded-md w-46 border-light-palette-p2 bg-light-palette-p3 mr-2.5" type="text" placeholder="Vínculo imóveis">
      </div>
      <div class="flex items-center mt-2">
        <label>CNPJ</label>
        <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
        <input class="rounded-md w-46 border-light-palette-p2 bg-light-palette-p3 mr-2.5" type="text" placeholder="00.000.000/0000-00">
      </div>
      <div class="flex items-center mt-2">
        <label>Link</label>
        <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
        <input class="rounded-md w-46 border-light-palette-p2 bg-light-palette-p3 mr-2.5" type="text" placeholder="https://seulink">
      </div>
    </div>
    <div clas="ml-3">
      <div class="flex items-center mt-2">
        <label>Link</label>
        <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2"></div>
        <a class="rounded-md w-46 border-light-palette-p2 bg-light-palettmr-2.5">oi</a>
      </div>
    <div class="bg-light-palette-p3 flex-auto rounded-md h-0.5 mx-2 mt-2"></div>
        <div class="flex items-center mt-2 p-2">
        <label class="pl-2 mr-auto">Adicionar campos</label>
        <a href="#" class="text-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-300 rounded-md pr-40  pl-12 py-2 border-2 border-gray-200 bg-gray-100 ease-in-out">+</a>
    </div>
  </div>
</div>