<%= stylesheet_link_tag "detail-form", media: 'all' %>

<div>
  <div class="bg-light-palette-p4 rounded-md">
    <div class="flex p-2">
      <p class="px-3 font-semibold text-xl mr-auto">Negócio</p>
      <a class="" href="#">Salvar alterações</a>
    </div>
    <div class="ml-3">
    <div class="flex">
    <label>Valor</label>
    <input class="rounded-md w-36 border-light-palette-p3" placeholder="R$ 0,00" type="text">
    </div>
    <div>
      <label>Idade do negócio</label>
      <input class="rounded-md w-36 border-light-palette-p3" type="text" value="15 Dias">
   </div>
   <div>
      <label>Etiqueta</label>
      <input class="rounded-md w-36 border-light-palette-p3" type="text" value="Definir">
  </div>
  <div>
      <label>Probabilidade</label>
      <input class="rounded-md w-36 border-light-palette-p3" type="text" value="Definir">
  </div>
  <div>
      <label>Responsavel</label>
      <input class="rounded-md w-36 border-light-palette-p3" type="text" value="Nome">
  </div>
  <div>
      <label>Organização</label>
      <input class="rounded-md w-36 border-light-palette-p3" type="text" value="Vínculo imóveis">
  </div>
  <div>
      <label>CNPJ</label>
      <input class="rounded-md w-36 border-light-palette-p3" type="text" value="00.000.000/0000-00">
  </div>
  <div>
      <label>Link</label>
      <input class="rounded-md w-36 border-light-palette-p3" type="text" value="https://...">
       </div>
    </div>
  </div>
</div>