# Primary database
DATABASE_URL=postgres://postgres:password@localhost/
REDIS_URL=redis://localhost:6379/0

# Microsft clarity 
MS_CLARITY_TOKEN=MS_CLARITY_TOKEN

# Test Envs
WP_CONNECT_ENDPOINT=WP_CONNECT_ENDPOINT
WP_CONNECT_SESSION=WP_CONNECT_SESSION
WP_CONNECT_TOKEN=WP_CONNECT_TOKEN
WP_CONNECT_SECRET_KEY=WP_CONNECT_SECRET_KEY

FRONTEND_URL=http://localhost:3001

# hyperdx
# OTEL_EXPORTER_OTLP_ENDPOINT=https://in-otel.hyperdx.io
# OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
# OTEL_SERVICE_NAME='<NAME_OF_YOUR_APP_OR_SERVICE>'
# OTEL_EXPORTER_OTLP_HEADERS='authorization=<YOUR_HYPERDX_API_KEY_HERE>'