<section class="section">
  <div class="section-header">
    <h1>Types of activities</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4></h4>
        <div class="card-header-action">
          <div class="row">
            <form hidden>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
          <div hidden class="dropdown ml-5 mr-5">
            <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">Actions</a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to new_settings_activity_kind_path, class: 'dropdown-item has-icon' do %>
                <i class="fas fa-user-plus"></i> New
              <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Icon</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @activity_kinds.each do | activity | %>
                <tr>
                  <td>
                    <%= activity.name %>
                  </td>
                  <td>
                    <i class="<%= activity.icon_key %>"></i>
                  </td>
                  <td>
                    <%= link_to edit_settings_activity_kind_path(activity), class: 'btn btn-primary btn-action mr-1' do %>
                      <i class="fas fa-pencil-alt"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>