<section class="section">
  <div class="section-header">
    <h1>Configurar Chatwoot</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <div class="col-lg-5 container">
          <%= render 'form', chatwoot: @chatwoot %>
        </div>
      </div>
    </div>
  </div>
</section>