<%= stylesheet_link_tag "navbar_pipe", media: 'all' %>

<nav class="navbar navbar-expand-lg main-navbar navbar-custom">
  <div class="form-inline mr-auto form-inline-custom">

<div class="input-group colorpickerinput colorpicker-element ml-3 mr-3" data-colorpicker-id="2">
  <div class="input-group-prepend">
    <div class="input-group-text">
  <%= embedded_svg('pipe-icon.svg') %>
    </div>
  </div>

  <select class="form-control m-0">
    <option>Nome do Funil</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>

  <div class="input-group-append">
    <div class="input-group-text col">
    <%= embedded_svg('pencil-icon.svg') %>
    </div>
  </div>
</div>


<a href="#" class="btn btn-lg btn-primary custom-btn-navbar">Novo negócio</a>

  </div>

    <ul class="navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="custom-btn-user"><i class="far fa-user"></i></a>        
        
        
      </li>
    </ul>
</nav>