
<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">
  <form class="form-inline mr-auto">
  </form>
  <ul class="navbar-nav navbar-right">
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
      <%= image_tag "/assets/stisla/assets/img/avatar/avatar-1.png", class: 'rounded-circle mr-1' %>
      <div class="d-sm-none d-lg-inline-block">Hi, <%= current_user.full_name %></div></a>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to destroy_user_session_path, class:"dropdown-item has-icon text-danger", :method => :delete do %>
          <i class="fas fa-sign-out-alt"></i> Logout
        <% end %>
      </div>
    </li>
  </ul>
</nav>
<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html">Open CRM</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">CRM</a>
    </div>
    <ul class="sidebar-menu">
      <li>
        <%= link_to(pipelines_path, class: 'nav-link') do %>
          <i class="fas fa-funnel-dollar"></i> <span>Deals</span>
        <% end %>
      </li>
    </ul>
  </aside>
</div>