<%= stylesheet_link_tag "navbar_pipe", media: 'all' %>

<nav class="navbar navbar-expand-lg main-navbar navbar-custom">
  <% if controller_path == 'accounts/pipelines' && ['index', 'show'].include?(action_name) %>
    <%= render "layouts/shared/navbar_pipe" %>
  <% elsif controller_path == 'accounts/deals' && ['show'].include?(action_name) %>
    <%= render "layouts/shared/navbar_deal" %>
  <% elsif controller_path == 'accounts/contacts' && ['index', 'index_kanban_tags'].include?(action_name) %>
    <%= render "layouts/shared/navbar_contacts" %>
  <% end %>
</nav>