<nav class="flex flex-wrap w-full h-20 z-10 ease-in duration-300 items-center justify-between py-2 lg:py-4 px-6 lg:px-8 bg-light-palette-p5">
  <% if controller_path == 'accounts/pipelines' && ['index', 'show'].include?(action_name) %>
    <%= render "layouts/shared/navbar_pipe" %>
  <% elsif controller_path == 'accounts/deals' && ['show'].include?(action_name) %>
    <%= render "layouts/shared/navbar_deal" %>
  <% end %>
</nav>