<nav class="flex flex-wrap w-full h-20 ease-in duration-300 items-center justify-between py-2 sm:py-4 px-6 sm:px-8 border-b-2 border-light-palette-p3">
  <% if controller_path == 'accounts/pipelines' && ['index', 'show'].include?(action_name) %>
    <%= render "layouts/shared/navbar_pipe" %>
  <% elsif controller_path == 'accounts/deals' && ['show'].include?(action_name) %>
    <%= render "layouts/shared/navbar_deal" %>
  <% elsif controller_path == 'accounts/contacts' %>
      <%= render "layouts/shared/navbar_contact" %>
  <% end %>
</nav>