<%= stylesheet_link_tag "navbar_pipe", media: 'all' %>

<nav class="flex flex-wrap group-[.sidebar-mini]:left-16 left-[200px] ease-in duration-300 absolute  w-full items-center  justify-between py-3 px-6 bg-light-palette-p5 ">
  <% if controller_path == 'accounts/pipelines' && ['index', 'show'].include?(action_name) %>
    <%= render "layouts/shared/navbar_pipe" %>
  <% elsif controller_path == 'accounts/deals' && ['show'].include?(action_name) %>
    <%= render "layouts/shared/navbar_deal" %>
  <% end %>
</nav>