<div class="form-inline mr-auto form-inline-custom">
      <a href="#" class="voltar"><i class="fas fa-chevron-left"></i></a>  
  <div class=" form-inline mr-auto form-inline-custom navbar-deals">
    <ul class="text-navbar">
      <h1 class="font-text">Semper pretium sollicitudin et nibh est molestie</h1>
    </ul>
    <ul class="setinhas-navbar">
      <a href="#" class="Funil">Novo funil</a>
      <i class="fas fa-chevron-right icon"></i>
      <a href="#" class="Etapa">Etapa</a>
    </ul>
  </div>
</div>
<ul class="navbar-nav navbar-right buttons">
  <a href="#" class="btn-lg button-perda mr-2">Perdido</a>
  <a href="#" class=" btn-lg button-ganho">Ganho</a>
</ul>