.w-btn-block {
  color: #888599 !important;
  border-radius: 5px;
  border: 1.8px solid #F2F1F7;
  padding: 10px !important;
  i {
      font-size: 15px !important;
      margin: 0px !important;
  }
}