.w-btn-outline {
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
  padding: 0.3rem 0.8rem;
  letter-spacing: .5px;

  color: #6857D9;
  background-color: #FFFFFF;
  border: 1.5px solid #F2F1F7;
  border-radius: 5px;
}

.w-btn-outline:hover {
  border-radius: 5px;
  border: 1.5px solid #D9DEFF;
}