<section class="section">
  <div class="section-header">
    <h1>Importar Negócios</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-body">

        <div class="card-body offset-2 col-sm-8">

        <div class="form-group">
          <label>Whatsapp</label>
          <select class="form-control">
            <option>Telefone 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>

        <div class="form-group">
          <label>Tipo de envio</label>
          <select class="form-control">
            <option>Tempo real</option>
            <option>Em massa</option>
          </select>
        </div>

        <div class="form-group">
          <label>Mensagem</label>
          <textarea rows="10" class="form-control"></textarea>
        </div>

          <div class="card-footer text-right">
            <a href="/accounts/1/pipelines/1" class="btn btn-primary" type="submit">Continuar</a>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</section>