<section class="section">
  <div class="section-header">
    <h1>Exportar Negócios</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <div class="card-body offset-2 col-sm-8">
          <div class="text-center pt-3">
            <label><%= @deals.count %> negócios serão exportados</label>
          </div>
          <div class="text-center pt-3">

            <%= link_to account_pipeline_export_path(Current.account, params['pipeline_id'] , stage_id: params['stage_id'], format: :csv), class:"mt-4 bb" do %>
              Baixar planilha
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
