<section class="section">
  <div class="section-header">
    <h1>Importar Negócios</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-body">

        <div class="card-body offset-2 col-sm-8">

        <div class="form-group">
          <label>Etapa</label>
          <select class="form-control">
            <option>Qualificação</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>

          <input id="file" hidden type="file" class="form-control">
          <form onclick="$('#file').click()" action="#" class="dropzone dz-clickable" id="mydropzone">
            
          <div class="dz-default dz-message"><span>Arraste o arquivo aqui.</span></div></form>
        
          <div class="text-center pt-3">
            <a href="#" class="mt-4 bb">Planilha de exemplo</a>
          </div>

          <div class="card-footer text-right">
            <a href="/accounts/1/pipelines/1" class="btn btn-primary" type="submit">Enviar</a>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</section>