<div data-controller="lists" data-lists-id="<%= @pipeline.id %>">
  <section class="lists-container" data-lists-target="lists">
    <%= render partial: 'stage', collection: @pipeline.stages.sort_by(&:order), as: :stage %>
  </section>
</div>