

<%= turbo_frame_tag :stages do %>
<div data-controller="lists" data-lists-id="<%= @pipeline.id %>">
  <section class="p-8 grid grid-flow-col auto-cols-[18.75.rem] h-auto gap-5" data-lists-target="lists">
    <%= render partial: 'stage', collection: @pipeline.stages.sort_by(&:position), as: :stage, locals:{status: @status} %>
  </section>
</div>
<%end%>

