<% if @deal_product.present? %>
  <%= turbo_frame_tag @deal_product do %>
    <%= render "/accounts/deals/details/deal_products/edit",
  deal_product: @deal_product,
  product: @product,
  update_path: account_product_path(current_user.account, @product, deal_product_id: @deal_product.id)
   %>
  <% end %>
<% else %>
  <section class="px-4 py-5 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md m-8">
    <%= render 'form', product: @product %>
  </section>
<% end%>
