<div class='border-[1px] px-2 py-4 border-brand-palette-07 rounded-lg animate-pulse' >
  <div class= "flex items-center gap-4 mb-4">
    <div class="border-2 bg-brand-palette-08 rounded-md h-16 w-16 flex items-center">
      <i data-lucide="image" class='stroke-dark-gray-palette-p4 m-auto'></i>
    </div>
    <div class="mr-auto grid gap-2">
      <div class="h-2 bg-gray-300 rounded-full dark:bg-gray-600 w-28"></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-24"></div>
    </div>
    <div class='flex items-center gap-2 self-start' >
      <div class= 'flex items-center h-8 p-1 text-dark-gray-palette-p3 animate-pulse'>
        <i data-lucide="pencil" height="16"></i>
      </div>
      <div class= 'flex items-center h-8 p-1 text-dark-gray-palette-p3 animate-pulse'>
        <i data-lucide="trash-2" height="16"></i>
      </div>
    </div>
  </div>
  <div class='grid gap-5'>
    <div class="flex items-center last:pb-0">
      <div class="flex-none h-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
      <div class="flex-auto rounded-md mx-3 border-t border-light-palette-p3"></div>
      <div class="m-0 h-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
    </div>
    <div class="flex items-center last:pb-0">
      <div class="flex-none h-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
      <div class="flex-auto rounded-md mx-3 border-t border-light-palette-p3"></div>
      <div class="m-0 h-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
    </div>
    <div class="flex items-center last:pb-0">
      <div class="flex-none h-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
      <div class="flex-auto rounded-md mx-3 border-t border-light-palette-p3"></div>
      <div class="m-0 h-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
    </div>
    <div class="flex items-center last:pb-0">
      <div class="flex-none h-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
      <div class="flex-auto rounded-md mx-3 border-t border-light-palette-p3"></div>
      <div class="m-0 h-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
    </div>
  </div>
</div>
