<div class="animate-pulse">
  <header class="border-b-2 border-neutral-100 h-18 flex flex-wrap items-center px-3 py-7">
    <div class="flex-[1_1_180px] text-dark-gray-palette-p1 typography-body-s-lh150">
      <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
    </div>
    <div class="flex space-x-2.5">
      <!-- Icone atividade -->
      <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
      <!-- Icone nota -->
      <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
      <!-- Icone Chatwoot -->
      <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
      <!-- Icone WhatsApp -->
      <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
    </div>
  </header>
  <div class="px-4 grid justify-items-center gap-5" >
    <div class="flex justify-center items-center flex-col mt-10">
      <div class="border-2 rounded-md flex justify-center items-center text-center w-11 h-11 border-brand-palette-07 bg-brand-palette-08">
      </div>
    </div>
    <div class=" grid justify-items-center">
      <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32 mb-2.5"></div>
      <div class="w-96 h-2 mb-10 bg-gray-200 rounded-full dark:bg-gray-700"></div>
    </div>
  </div>
</div>
