<section class="px-4 py-5 m-8 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md">
  <%= render 'form', url: account_custom_attributes_definitions_path(current_user.account), custom_attribute_definition: @custom_attribute_definition %>
</section>
