<div>
  <div class="card mt-4">
    <div class="card-header">
      <h4>Negócios</h4>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped">
        <tbody>
          <% if contact.deals.blank? %>
            <tr>
              <div class="flex flex-col items-center">
                <%= link_to new_select_contact_account_deals_path(current_user.account, contact_id: contact.id), class: 'background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none m-3 ease-linear transition-all duration-150' do %>
                  Criar novo negócio
                <% end %>
              </div>
            </tr>
          <% else %>
            <% contact.deals.each do | deal |  %>
              <tr>
                <th scope="row">
                  <div class="row pb-3">
                    <div class="col-8">
                      <h6 class="pt-4"><%= deal.name %></h6>
                      <div class="form-inline mr-auto">
                        <p><%= deal.stage.name %></p>
                        <% if true == false %>
                          <button type="button" class="ml-3 btn-clock">
                            <i data-lucide="clock-3"></i> 2h
                          </button>
                        <% end %>
                      </div>
                    </div>
                    <div class="col"> 
                      <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                        <%= link_to(account_deal_path(current_user.account, deal), class: 'ml-3 custom-btn-user ml-auto float-right') do %>
                          <i data-lucide="arrow-up-right"></i>
                        <% end %> 
                      </div>
                    </div>
                  </div>
                </th>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>