<%= stylesheet_link_tag "components/chatwoot_embed", media: 'all' %>

<div class="component-chatwoot-embed">
  <%= render 'show', contact: @contact %>
  <%= render 'deals', contact: @contact %>
</div>

