<section class="section">
  <div class="section-header">
    <h1>New Pipeline</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <div class="col-lg-5 container">
          <%= render 'form', pipeline: @pipeline %>
        </div>
      </div>
    </div>
  </div>
</section>