<div class="flex flex-row-reverse py-2">
  <div class="w-3/4 rounded-lg bg-white border border-light-palette-p3 rounded dark:bg-neutral-700">
    <div class="border-b-2 border-neutral-100 bg-light-palette-p4 px-3 py-2 flex items-center">
      <%= header %>
    </div>
    <div class="p-6">
      <p class="m-0">
        <%= content %>
      </p>
    </div>
  </div>
</div>