<div class="col-12">
  <div>
    <header class="text-center m-3">
      <span class="badge badge-light">Planned</span>
    </header>
    <div class="activities">
    </div>
  </div>

  <div>
    <header class="text-center m-3">
      <span class="badge badge-light">Done</span>
    </header>
    <div class="activities">
      
      



      <div class="activity">
        <div class="activity-icon bg-primary text-white shadow-primary">
          <i class="fab fa-whatsapp"></i>
        </div>
        <div class="activity-detail activity-detail-from-me">
          <header>
            <div class="float-right dropdown dropleft">
              <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
              <div class="dropdown-menu">
                <div class="dropdown-title">Options</div>
              </div>
            </div>
            <div class="row">
              <% if true == false %>
                <%= render "/deals/flow_items/activities/done_check", activity: flow_item %>
                <h4><%= flow_item.name %></h4>
              <% end %>
            </div>


              <span><%= time_ago_in_words(Time.current) %> ago</span>

          </header>
          <div class="card-body item-body">
            <p>Olá, já alugou seu imóvel?</p>
          </div>
        </div>
      </div>






    </div>
  </div>
</div>

<div class="row float-right p-3">
  <div class="col-12 mr-5">
    <%== pagy_nav(@pagy) %>
  </div>
</div>