<%= stylesheet_link_tag "components/chatwoot_embed", media: 'all' %>

<div class="component-chatwoot-embed">

  <h4>Douglas Lara</h4>
  <form class="form-inline">

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fas fa-envelope"></i>
        </div>
      </div>
      <input type="text" class="form-control phone-number" value="douglasdelaras@gmail.com">
    </div>

    <div class="input-group ml-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fas fa-phone"></i>
        </div>
      </div>
      <input type="text" class="form-control phone-number" value="(41) 9 9691-0256">
    </div>

    <a href="#" class="w-btn-outline ml-3">ver mais</a>
  </form>

  <div class="card mt-4">
    <div class="card-header">
      <h4>Negócios</h4>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">
              <div class="row pb-3">
                <div class="col-8">
                  <h6 class="pt-4">Imóvel no Centro Cívico </h6>
                  <div class="form-inline mr-auto">
                    <p>Visita agendada</p>
                      <button type="button" class="ml-3 btn-clock">
                        <i class="fas fa-clock"></i> 2h
                      </button>
                  </div>
                </div>
                <div class="col"> 
                  <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                    <a class="ml-3 custom-btn-user ml-auto float-right">
                      <i class="fas fa-external-link-square-alt"></i>
                    </a>
                  </div>
                </div>
              </div>
            </th>
          </tr>
          <tr>
            <th scope="row">2</th>
          </tr>
          <tr>
            <th scope="row">3</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

