<section class="m-8 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md p-8">
    <div class="grid gap-8">

        <%= render 'accounts/contacts/chatwoot_embed/show', contact: @contact %>
        <%= render 'accounts/contacts/chatwoot_embed/deals', contact: @contact %>
    </div>
</section>