<section class="m-8 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md ">
  <ul class="px-4 py-5 space-y-5">
    <%= render partial: 'contact', collection: @contacts, as: :contact  %>
  </ul>
  <div class="float-right py-6">
    <%== pagy_nav(@pagy) %>
  </div>
</section>
