<section class="section">
  <div class="section-header">
    <h1>Whatsapps</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4></h4>
        <div class="card-header-action">
          <div class="row">
            <form hidden>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
          <div class="dropdown ml-5 mr-5">
            <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">Actions</a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to new_settings_whatsapp_path, class: 'dropdown-item has-icon' do %>
                <i class="fas fa-plus"></i> New
              <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @whatsapps.each do | whatsapp | %>
                <tr>
                  <td>
                    <%= whatsapp.name %>
                  </td>
                  <td>
                    <%= whatsapp.enabled? ? 'Enabled' : 'Disabled' %>
                  </td>
                  <td>
                    <% if whatsapp.enabled? %>
                      <%= link_to settings_whatsapp_disable_path(whatsapp), class: 'btn btn-primary btn-action mr-1', method: :post do %>
                        <i class="fas fa-power-off"></i>
                      <% end %> 
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>