<section class="section">
  <div class="section-header">
    <h1><%= @activity_kind_whatsapp.name %></h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <div class="jumbotron text-center" data-controller="whatsapp-connect">
          <h2 class="mb-4">Whatsapp QR code</h2>
            <p><img src="data:image/png;base64, <%= @qr_code[:ok] %>" alt="Whatsapp QR Code" /></p>
            <%= form_with(model: @activity_kind_whatsapp, url: settings_whatsapp_new_connection_path, method: :post, data: {turbo: false}) do |form| %>
              <%= form.submit 'New QR Code', class: 'btn btn-primary mt-4' %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>