<section class="section">
  <div class="section-header">
    <h1><%= @whatsapp.name %></h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-body">
        <div class="jumbotron text-center" data-controller="whatsapp-connect">
          <h2 class="mb-4">Whatsapp QR code</h2>
            <p><img id="qr_code" src="data:image/png;base64, <%= @qr_code %>" alt="Whatsapp QR Code" /></p>
            <%= render 'form_pair', whatsapp: @whatsapp %>
        </div>
      </div>
    </div>
  </div>
</section>