<div class="grid place-items-center h-screen">
  <%= render 'components/loading' %>
</div>

<%= form_tag("/apps/chatwoots/embedding_authenticate", :method => "post", id: 'embedding_auth' ) do %>
  <%= hidden_field_tag(:token, @token) %>
  <%= hidden_field_tag(:event, id: 'event') %>
<% end %>

<script>
  window.addEventListener("message", function (event) {
    if(event.data.includes("appContext")) {     
      document.getElementById('event').value = event.data;
      console.log('WoofedCRM - Authenticating...');
      document.getElementById('embedding_auth').submit();
    }
  });

  window.parent.postMessage('chatwoot-dashboard-app:fetch-info', '*')
</script>
