<header class="flex py-6 px-8 items-center  bg-light-palette-p5 border-b-2 border-light-palette-p3">
    <%= image_tag "logo.svg", class: 'w-44' %>
</header>
<div class="m-8 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md "> 
    <h1 class="p-4 typography-title-b-lh150 text-dark-gray-palette-p1">Usuário chatwoot não encontrado!</h1>
    <div class="w-full h-0.5 bg-light-palette-p3 "></div>
    <p class="p-4 typography-text-m-lh150 text-dark-gray-palette-p4">Não encontramos sua conta do chatwoot vinculado ao woofed. Caso não tenha um cadastro no woofed, será necessário criar uma conta, com o mesmo email da sua conta no chatwoot, para ter acesso ao 
    <%= link_to "woofed crm", root_path, target: '_blank', class: 'typography-text-s-lh150 text-dark-gray-palette-p3 hover:text-dark-gray-palette-p2 hover:underline ' %>.</p>
   
</div>

