<div class="border-2 border-gray-300 border-dashed rounded-lg bg-gray-50 opacity-90 absolute w-full h-full z-40 items-center justify-center" data-event-form--upload-files-target="dragAlert" style="display: none">
  <div class="grid place-items-center justify-center">
    <i data-lucide="files" class='stroke-gray-500' style='width: 100px; height: 100px'></i>
    <p class=" mt-2 text-2xl text-gray-500 dark:text-gray-400"><span class="font-semibold">
        <%= t('activerecord.models.attachment.drop_file') %>
      </p>
      <p class="text-xs text-gray-500 dark:text-gray-400">
        <%= t('activerecord.models.attachment.max_size') %>
      </p>
    </div>
  </div>
