<%= stylesheet_link_tag "form_actions", media: 'all' %>

<%= turbo_frame_tag "kind_content" do %> <% end %>

<div>
  <div class="border-b-2 border-light-palette-p3 w-full h-full">
    <div class="flex flex-nowrap pb-3 px-3">
      <h2 class="text-lg w-fit">Ações</h2>
      <div class="flex justify-end ml-auto"> 
        <div class="mx-auto">
          <div class="flex space-x-2.5">
            <a href="#" class="pr-0.5 rounded-lg border border-gray-300 bg-light-palette-p5 text-sm text-gray-900 dark:placeholder-gray-400 flex h-full items-center">
              <div class="pl-1 ml-2 button-form items-center text-sm bg-light-palette-p4 border-r-2 dark:text-gray-400 h-10">
              <div class="mt-2 mr-1 fill-gray-pallete-p3">
                <i data-lucide="library" style="color: #888599;"></i>
              </div>
            </div>
              <p class="m-0 px-3 flex items-center">Atividade</p>
            </a>
            <a href="#" class="pr-0.5 rounded-lg border border-gray-300 bg-light-palette-p5 text-sm text-gray-900 dark:placeholder-gray-400 flex h-full items-center">
            <div class="pl-1 ml-2 button-form items-center text-sm bg-light-palette-p4 border-r-2 dark:text-gray-400 h-10">
              <div class="mt-2 mr-1 fill-gray-pallete-p3">
                <i data-lucide="menu-square" style="color: #888599;"></i>
              </div>
            </div>
            <p class="m-0 px-3 flex items-center">Nota</p>
            </a>
            <a href="#" class="pr-0.5 rounded-lg border border-gray-300 bg-light-palette-p5 text-sm text-gray-900 dark:placeholder-gray-400 flex h-full items-center">
            <div class="pl-1 ml-2 button-form items-center text-sm bg-light-palette-p4 border-r-2 dark:text-gray-400 h-10">
              <div class="mt-2 mr-1 fill-dark-gray-palette-p3">
                <%= embedded_svg('icon-whtass.svg') %>
              </div>
            </div>
            <p class="m-0 px-3 flex items-center">Whatsapp</p>
            </a>
            <a href="#" class="pr-0.5 rounded-lg border border-gray-300 bg-light-palette-p5 text-sm text-gray-900 dark:placeholder-gray-400 flex h-full items-center">
            <div class="pl-1 ml-2 button-form items-center text-sm bg-light-palette-p4 border-r-2 dark:text-gray-400 h-10">
              <div class="mt-2 mr-1 fill-gray-pallete-p3 max-w-full">
                <i data-lucide="mail" style="color: #888599;"></i>
              </div>
            </div>
              <p class="m-0 px-3 flex items-center">Email</p>
            </a>
            <div class="flex items-cenrte">
              <a href="#" class="bg-light-palette-p4 ml-[2px] px-3.5 pb-[11px] pt-[11px] border rounded flex items-center"><i class="fas fa-chevron-down m-0" style="color: #888599;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center text-center">
    <div>
      <div class="flex justify-center items-center flex-col mt-4">
        <div class="border-2 rounded-md px-2 flex justify-center items-center text-center h-12 bg-brand-palette-08">
          <i data-lucide="layout-grid" class="ml-2 mr-2 h-14" style="color: #6857D9;"></i>
        </div>
      </div>
      <p class="font-semibold mb-0 text-base">Adicionar atividade</p>
      <p class="font-thin">Clique aqui ou nos campos acima para adicionar uma atividade<p>
    </div>
  </div>
</div>