<%= turbo_frame_tag "kind_content" do %> <% end %>

<div>
  <div class="border-b-2 border-light-palette-p3 w-full h-full">
    <div class="flex flex-nowrap pb-3 px-3">
      <h2 class="text-lg w-fit">Ações</h2>
      <div class="flex justify-end ml-auto">
        <div class="mx-auto">
          <div class="flex space-x-2.5">
            <!-- Icone atividade -->
            <a href="#" class="transition delay-100 duration-100 group pr-0.5 h-10 flex items-center text-sm text-gray-900 dark:placeholder-gray-400 hover:no-underline">
              <div class="transition delay-100 duration-100 px-2 rounded-l-lg border-y border-l border-light-palette-p3 flex items-center text-sm bg-light-palette-p4 dark:text-gray-400 group-hover:bg-brand-palette-07 group-hover:border-brand-palette-07 h-full w-full">
                <i data-lucide="clipboard-list" class="transition delay-100 duration-100 h-3.5 text-gray-pallete-p3 group-hover:text-brand-palette-03"></i>
              </div>
              <div class="transition delay-100 duration-100 flex items-center rounded-r-lg border border-light-palette-p3 bg-light-palette-p5 group-hover:border-brand-palette-07 h-full w-full">
                <p class="transition delay-100 duration-100 m-0 px-3 text-dark-gray-palette-p3 group-hover:text-dark-gray-palette-p1">Atividade</p>
              </div>
            </a>
            <!-- Icone nota -->
            <a href="#" class="transition delay-100 duration-100 group pr-0.5 h-10 flex items-center text-sm text-gray-900 dark:placeholder-gray-400 hover:no-underline">
              <div class="transition delay-100 duration-100 px-2 rounded-l-lg border-y border-l border-light-palette-p3 flex items-center text-sm bg-light-palette-p4 dark:text-gray-400 group-hover:bg-brand-palette-07 group-hover:border-brand-palette-07 h-full w-full">
                <i data-lucide="menu-square" class="transition delay-100 duration-100 h-3.5 text-gray-pallete-p3 group-hover:text-brand-palette-03"></i>
              </div>
              <div class="transition delay-100 duration-100 flex items-center rounded-r-lg border border-light-palette-p3 bg-light-palette-p5 group-hover:border-brand-palette-07 h-full w-full">
                <p class="transition delay-100 duration-100 m-0 px-3 text-dark-gray-palette-p3 group-hover:text-dark-gray-palette-p1">Nota</p>
              </div>
            </a>
            <!-- Icone WhatsApp -->
            <a href="#" class="transition delay-100 duration-100 group pr-0.5 h-10 flex items-center text-sm text-gray-900 dark:placeholder-gray-400 hover:no-underline">
              <div class="transition delay-100 duration-100 px-2 rounded-l-lg border-y border-l border-light-palette-p3 flex items-center text-sm bg-light-palette-p4 dark:text-gray-400 group-hover:bg-brand-palette-07 group-hover:border-brand-palette-07 w-14 h-10">
                <%= embedded_svg('icon-whtass.svg', class:"transition delay-100 duration-100 h-3.5 fill-gray-pallete-p3 mx-auto group-hover:fill-brand-palette-03") %>  
              </div>
              <div class="transition delay-100 duration-100 flex items-center rounded-r-lg border border-light-palette-p3 bg-light-palette-p5 group-hover:border-brand-palette-07 h-full w-full">
                <p class="transition delay-100 duration-100 m-0 px-3 text-dark-gray-palette-p3 group-hover:text-dark-gray-palette-p1">WhatsApp</p>
              </div>
            </a>
            <!-- Icone e-mail -->
            <a href="#" class="transition delay-100 duration-100 group pr-0.5 h-10 flex items-center text-sm text-gray-900 dark:placeholder-gray-400 hover:no-underline">
              <div class="transition delay-100 duration-100 px-2 rounded-l-lg border-y border-l border-light-palette-p3 flex items-center text-sm bg-light-palette-p4 dark:text-gray-400 group-hover:bg-brand-palette-07 group-hover:border-brand-palette-07 h-full w-full">
                <i data-lucide="mail" class="transition delay-100 duration-100 h-3.5 text-gray-pallete-p3 group-hover:text-brand-palette-03"></i>
              </div>
              <div class="transition delay-100 duration-100 flex items-center rounded-r-lg border border-light-palette-p3 bg-light-palette-p5 group-hover:border-brand-palette-07 h-full w-full">
                <p class="transition delay-100 duration-100 m-0 px-3 text-dark-gray-palette-p3 group-hover:text-dark-gray-palette-p1">Email</p>
              </div>
            </a>
            <!-- Icone arrow down -->
            <a href="#" class="pr-0.5 h-10 flex items-center text-sm text-gray-900 dark:placeholder-gray-400" hidden>
              <div class="px-2 rounded-lg border border-light-palette-p3 flex items-center text-sm bg-light-palette-p4 dark:text-gray-400 h-full w-full">
                <i data-lucide="chevron-down" class="text-gray-pallete-p3"></i> 
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center text-center">
    <div>
      <div class="flex justify-center items-center flex-col mt-4">
        <div class="border-2 rounded-md flex justify-center items-center text-center w-11 h-11 border-brand-palette-07 bg-brand-palette-08">
          <i data-lucide="layout-grid" class="text-brand-palette-03"></i>
        </div>
      </div>
      <div class="m-3">
        <p class="font-semibold mb-0 text-base text-gray-pallete-p1">Adicionar atividade</p>
        <p class="font-thin text-gray-pallete-p3">Clique aqui ou nos campos acima para adicionar uma atividade</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
