<%= stylesheet_link_tag "form_actions", media: 'all' %>

<%= turbo_frame_tag "kind_content" do %> <% end %>

<div>
  <div class="border-b-2 border-light-palette-p3 w-full h-full">
    <div class="flex flex-nowrap pb-3 px-3">
      <h2 class="text-lg w-fit">Ações</h2>
      <div class="flex justify-end ml-auto"> 
        <div class="mx-auto">
          <div class="flex space-x-2.5">
            <a href="#" class="px-6 pr-0.5 rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 dark:placeholder-gray-400 flex h-full items-center">
              <i data-lucide="clipboard-list" class="ml-3 button-form items-center text-sm bg-light-palette-p4 border-r-2 dark:text-gray-400 h-10"></i><p class="m-0 px-3 flex items-center">Atividade</p>
            </a>
            <a href="#" class="pr-0.5 rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 dark:placeholder-gray-400 flex h-full items-center">
              <i data-lucide="sticky-note" class="ml-3 button-form items-center text-sm bg-light-palette-p4 border-r-2 dark:text-gray-4000 h-10"></i><p class="m-0 px-3 flex items-center">Nota</p>
            </a>
            <a href="#" class="pr-0.5 rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 dark:placeholder-gray-400 flex h-full items-center">
              <i data-lucide="sticky-note" class="ml-3 button-form items-center text-sm bg-light-palette-p4 border-r-2 dark:text-gray-400 h-10"></i><p class="m-0 px-3 flex items-center">Whatsapp</p>
            </a>
            <a href="#" class="pr-0.5 rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 dark:placeholder-gray-400 flex h-full items-center">
              <i data-lucide="mail" class="ml-3 button-form items-center text-sm bg-light-palette-p4 border-r-2 dark:text-gray-400 h-10"></i><p class="m-0 px-3 flex items-center">Email</p>
            </a>
            <a href="#" class="bg-light-palette-p4 p-2.5 ml-3 px-3.5 py-2 border rounded"><i class="fas fa-chevron-down m-0" style="color: #888599;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center text-center">
    <div>
      <div>
        <i data-lucide="layout-dashboard"></i>
      </div>
      <p class="font-semibold mb-0 text-base">Adicionar atividade</p>
      <p class="font-thin">Clique aqui ou nos campos acima para adicionar uma atividade<p>
    </div>
  </div>
</div>