<section class="m-8 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md ">
	<%= turbo_stream_from "users_#{current_user.account.id}" %>
	<ul class="px-4 py-5 grid" id="users">
		<%= render partial: 'accounts/users/user', collection: @users, as: :user %>    
	</ul>
	<div class="float-right py-6">
		<%== pagy_nav(@pagy) %>
	</div> 
</section>
