<section class="section">
  <div class="section-header">
    <h1>Conexões - Wpp Connect</h1>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4></h4>
        <div class="card-header-action">
          <div class="row">
            <form hidden>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
          <div class="dropdown ml-5 mr-5">           
            <%= link_to new_account_apps_wpp_connect_path(current_user.account), class: 'dropdown-toggle btn btn-primary' do %>
              <i class="fas fa-plus"></i> New
            <% end %>
            <div class="dropdown-menu dropdown-menu-right">
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @wp_connects.each do | wp_connect | %>
                <tr>
                  <td>
                    <%= wp_connect.id %>
                  </td>
                  <td>
                    <%= wp_connect.name %>
                  </td>
                  <td>
                    <%= wp_connect.active? ? 'Ativo' : 'Inativo' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>