@charset "UTF-8";
@import "stisla/node_modules/bootstrap/scss/bootstrap";
@import "stisla/sources/scss/style";
@import "stisla/sources/scss/components";
@import "stisla/node_modules/izitoast/dist/css/iziToast";
@import "./actiontext.scss";
