@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .woo-input {
    @apply rounded-md border-light-palette-p2 bg-light-palette-p4
  }
  .event-item-from-me {
    @apply flex-row-reverse flex my-5;
  }
  .event-from-contacts {
    @apply flex-row flex my-5;
  }
  .typography-title-b-lh150 {
    @apply text-title leading-150 font-bold;
  }
  .typography-body-s-lh150 {
    @apply text-body leading-150 font-semibold;
  }
  .typography-body-r-lh150 {
    @apply text-body leading-150 font-normal;
  }
  .typography-text-s-lh150 {
    @apply text-text leading-150 font-semibold;
  }
  .typography-text-m-lh150 {
    @apply text-text leading-150 font-medium;
  }
  .typography-text-r-lh150 {
    @apply text-text leading-150 font-normal;
  }
  .typography-text-s-lh200 {
    @apply text-text leading-200 font-semibold;
  }
  .typography-text-m-lh200 {
    @apply text-text leading-200 font-medium;
  }
  .typography-text-r-lh200 {
    @apply text-text leading-200 font-normal;
  }
  .typography-sub-text-s-lh150 {
    @apply text-subtext leading-150 font-semibold;
  }
  .typography-sub-text-m-lh150 {
    @apply text-subtext leading-150 font-medium;
  }
  .typography-sub-text-r-lh150 {
    @apply text-subtext leading-150 font-normal;
  }
  .typography-sub-text-s-lh200 {
    @apply text-subtext leading-200 font-semibold;
  }
  .typography-sub-text-m-lh200 {
    @apply text-subtext leading-200 font-medium;
  }
  .typography-sub-text-r-lh200 {
    @apply text-subtext leading-200 font-normal;
  }
  .typography-micro-b-lh150 {
    @apply text-micro leading-150 font-bold;
  }
  .typography-micro-s-lh150 {
    @apply text-micro leading-150 font-semibold;
  }
  .typography-micro-m-lh150 {
    @apply text-micro leading-150 font-medium;
  }
  .btn-primary{
    @apply typography-text-s-lh150 py-2 px-4 rounded bg-brand-palette-03 hover:bg-brand-palette-04 hover:no-underline text-light-palette-p5 cursor-pointer
  }
  .btn-secondary{
    @apply typography-text-s-lh150 bg-light-palette-p4 text-dark-gray-palette-p3 rounded-md px-4 py-2 hover:bg-brand-palette-07 hover:text-brand-palette-03 focus:bg-brand-palette-07 focus:text-brand-palette-03
  }
  .icon-btn-outline{
    @apply p-2.5 border-solid border-2 border-light-palette-p3 rounded-r-lg flex-1 hover:border-brand-palette-04
  }
  .icon-btn-outline svg{
    @apply hover:stroke-brand-palette-04
  }
  .form-input {
    @apply py-2 px-4 bg-light-palette-p4 border-2 border-light-palette-p3 rounded-md text-dark-gray-palette-p1 typography-text-m-lh150 focus:outline-none focus:ring focus:ring-light-palette-p3 outline-none	focus:border-transparent placeholder-light-palette-p1
  }

  .pagy-nav.pagination {
    @apply isolate inline-flex -space-x-px rounded-md shadow-sm;
  }

  .page.next a {
    @apply border border-brand-palette-07 rounded-md relative inline-flex items-center rounded-r-md bg-white px-2 py-2 text-dark-gray-palette-p3 typography-text-m-lh150 hover:bg-gray-50 focus:z-20;
  }

  .page.prev a {
    @apply border border-brand-palette-07 rounded-md relative inline-flex items-center px-2 py-2 text-dark-gray-palette-p3 typography-text-m-lh150 hover:bg-gray-50 focus:z-20;
  }

  .page.next.disabled {
    @apply border border-brand-palette-07 rounded-md relative inline-flex items-center rounded-r-md bg-slate-100 px-2 py-2 text-dark-gray-palette-p3 typography-text-m-lh150 hover:bg-gray-50 focus:z-20 pointer-events-none;
  }

  .page.prev.disabled {
    @apply border border-brand-palette-07 rounded-md relative inline-flex items-center rounded-l-md bg-slate-100 px-2 py-2 text-dark-gray-palette-p3 typography-text-m-lh150 hover:bg-gray-50 focus:z-20 pointer-events-none;
  }

  .page a, .page.gap {
    @apply border border-brand-palette-07 rounded-md bg-white text-dark-gray-palette-p3 typography-text-m-lh150 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 focus:z-20;
  }

  .page.active {
    @apply border border-brand-palette-07 rounded-md z-10  bg-brand-palette-08 text-brand-palette-03 typography-text-m-lh150 relative inline-flex items-center px-4 py-2 focus:z-20 pointer-events-none;
  }

  .label-v1{
    @apply odd:bg-brand-palette-06 odd:text-brand-palette-02 even:bg-brand-palette-07 even:text-brand-palette-03 py-1 px-1.5 flex rounded cursor-default flex gap-1.5 items-center
  }

  .label-v2{
    @apply odd:bg-light-palette-p2 odd:text-dark-gray-palette-p2 even:bg-light-palette-p3 even:text-dark-gray-palette-p1 py-1 px-1.5 flex rounded cursor-default flex gap-1.5 items-center
  }

  .label-v3{
    @apply odd:bg-brand-palette-07 odd:text-brand-palette-03 even:bg-brand-palette-08 even:text-brand-palette-04 py-1 px-1.5 flex rounded cursor-default flex gap-1.5 items-center
  }

  .label-v4{
    @apply odd:bg-[#5440D2] odd:text-light-palette-p4 even:bg-brand-palette-03 even:text-light-palette-p4 py-1 px-1.5 flex rounded cursor-default flex gap-1.5 items-center
  }
  .checkbox{
    @apply bg-brand-palette-08 rounded text-brand-palette-03 focus:border-light-palette-p3 focus:ring-0 focus:outline-none border-2 border-light-palette-p3
  }
  .deal-won-btn {
    @apply rounded-md px-4 py-2 bg-auxiliary-palette-green-down text-auxiliary-palette-green text-center hover:bg-auxiliary-palette-green  hover:no-underline font-semibold hover:text-white
  }
  .deal-lost-btn {
    @apply rounded-md px-4 py-2 bg-auxiliary-palette-red-down text-auxiliary-palette-red text-center hover:bg-auxiliary-palette-red hover:text-white hover:no-underline font-semibold
  }
}
