@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Philosopher:wght@700&display=swap');
@import "./actiontext.scss";
@import "./commons/w-btn-outline.scss";
@import "./commons/w-btn-block.scss";




.btn-remove {
	font-size: 12px;
	border-radius: 30px;
	padding-left: 13px;
	padding-right: 13px;
  padding: 2px 15px;
  box-shadow: 0 2px 6px #fd9b96;
  background-color: #fc544b;
  border-color: #fc544b;
  color: #fff;
  max-height: 30px;
  margin-left: 15px;
}
.embed {
  .main-content {
    padding-top: 0px !important;
  }
  background-color: #F6F8FE;
}


// Stisla css reset
a {
  // color: color(primary);
  // font-weight: 500;
  transition: all .0s;
  -webkit-transition: all .0s;
  -o-transition: all .0s;
}

// css scroll bar style


/* width */
.custom-scroll-list-deal::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scroll-list-deal::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.custom-scroll-list-deal::-webkit-scrollbar-thumb {
  background: #F2F1F7;
  border-left: 5px white solid;
}

/* Handle on hover */
.custom-scroll-list-deal::-webkit-scrollbar-thumb:hover {
  background: #CBC8DB;
}


// ::placeholder {
//   color: #CBC8DB !important;
//   opacity: 1;
// }
// ::-ms-input-placeholder { /* Edge 12 -18 */
//   color: #CBC8DB !important;
// }
