@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .woo-input {
    @apply rounded-md border-light-palette-p2 bg-light-palette-p4
  }
  .event-item-from-me {
    @apply flex-row-reverse flex pb-3;
  }
  .event-from-contacts {
    @apply flex-row flex pb-3;
  }


  .typography-title-b-lh150 {
    @apply text-title leading-150 font-bold;
  }
  .typography-body-s-lh150 {
    @apply text-body leading-150 font-semibold;
  }
  .typography-body-r-lh150 {
    @apply text-body leading-150 font-normal;
  }
  .typography-text-s-lh150 {
    @apply text-text leading-150 font-semibold;
  }
  .typography-text-m-lh150 {
    @apply text-text leading-150 font-medium;
  }
  .typography-text-r-lh150 {
    @apply text-text leading-150 font-normal;
  }
  .typography-text-s-lh200 {
    @apply text-text leading-200 font-semibold;
  }
  .typography-text-m-lh200 {
    @apply text-text leading-200 font-medium;
  }
  .typography-text-r-lh200 {
    @apply text-text leading-200 font-normal;
  }
  .typography-sub-text-s-lh150 {
    @apply text-subtext leading-150 font-semibold;
  }
  .typography-sub-text-m-lh150 {
    @apply text-subtext leading-150 font-medium;
  }
  .typography-sub-text-r-lh150 {
    @apply text-subtext leading-150 font-normal;
  }
  .typography-sub-text-s-lh200 {
    @apply text-subtext leading-200 font-semibold;
  }
  .typography-sub-text-m-lh200 {
    @apply text-subtext leading-200 font-medium;
  }
  .typography-sub-text-r-lh200 {
    @apply text-subtext leading-200 font-normal;
  }
  .typography-micro-b-lh150 {
    @apply text-micro leading-150 font-bold;
  }
  .typography-micro-s-lh150 {
    @apply text-micro leading-150 font-semibold;
  }
  .typography-micro-m-lh150 {
    @apply text-micro leading-150 font-medium;
  }

  .pagy-nav.pagination {
    @apply isolate inline-flex -space-x-px rounded-md shadow-sm;
  }
  
  .page.next a {
    @apply border border-brand-palette-07 rounded-md relative inline-flex items-center rounded-r-md bg-white px-2 py-2 text-dark-gray-palette-p3 typography-text-m-lh150 hover:bg-gray-50 focus:z-20;
  }
  
  .page.prev a {
    @apply border border-brand-palette-07 rounded-md relative inline-flex items-center px-2 py-2 text-dark-gray-palette-p3 typography-text-m-lh150 hover:bg-gray-50 focus:z-20;
  }
  
  .page.next.disabled {
    @apply border border-brand-palette-07 rounded-md relative inline-flex items-center rounded-r-md bg-slate-100 px-2 py-2 text-dark-gray-palette-p3 typography-text-m-lh150 hover:bg-gray-50 focus:z-20;
  }
  
  .page.prev.disabled {
    @apply border border-brand-palette-07 rounded-md relative inline-flex items-center rounded-l-md bg-slate-100 px-2 py-2 text-dark-gray-palette-p3 typography-text-m-lh150 hover:bg-gray-50 focus:z-20;
  }
  
  .page a, .page.gap {
    @apply border border-brand-palette-07 rounded-md bg-white text-dark-gray-palette-p3 typography-text-m-lh150 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 focus:z-20;
  }
  
  .page.active {
    @apply border border-brand-palette-07 rounded-md z-10  bg-brand-palette-08 text-brand-palette-03 typography-text-m-lh150 relative inline-flex items-center px-4 py-2 focus:z-20;
  }
 }
