// Place all the styles related to the Deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "flow_items";

.icon {
    padding: 5px;
}

.button-perda {
    color: #CF4F27;
    text-decoration: none !important;
    background-color: #FBE0D8;
    width: 100px;
    text-align: center;
    font-weight: 600;
}
.button-perda:hover {
    text-decoration: none !important;
    font-size: 15px;
    color: #a53d1e;
}

.button-ganho {
    color:#259C50;
    text-decoration: none !important;
    background-color: #D8F2E1;
    width: 100px;
    text-align: center;
    font-weight: 600;
}
.button-ganho:hover {
    text-decoration: none !important;
    font-size: 15px;
    color: #0f8d3d;
}

.text-navbar {
    margin-top: 5px
}

.font-text {
    font-weight: 400;
    font-size: 15px !important;
}

.navbar-deals {
    padding-top: 20px;
}
