// Place all the styles related to the FlowItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.item-body {
  background-color: #fffcdc;
  margin: 0px -15px;
  border-top: 1px solid rgba(230, 236, 245, 1);;
}

.chat-note {
  background-color: #fffcdc !important;
  color: black !important;
}

.chat-wpp {
  font: inherit;
  background-color: #d9fdd3 !important;
  color: black !important;
}

.activity-detail {
  width: 70%;
  border-radius: 5px !important;
}

.activity-detail-from-me {
  margin-left: auto; 
  margin-right: 0;
}

.activity-detail {
  header {
    padding: 10px;
  }
}

.time-overdue{
  font-weight: 700;
  color: rgb(249, 72, 57);
}

.wp-text-area {
  height: 150px !important;
}


.chat-content {
  height: 100%;
  //min-height: 600px;

  overflow: auto !important;
  display: flex;
  flex-direction: column-reverse;
}

.chat-item.chat-right i {
  float: right;
  font-size: 25px;
}

.chat-details {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.chat-center {
  img {
    float: center;
  }
  .chat-details {
    margin-left: 0;
    margin-right: 70px;
    text-align: center;
    .chat-text {
      text-align: center;
      background-color: color(primary);
      color: black;
    }
  }
}

.events-icon {
  position: relative;
  top: 18px;
  right: 18px;
  font-size: 18px !important;
}

.events-icon-right {
  position: relative;
  top: 18px;
  left: 18px;
  font-size: 18px !important;
}

.chat-text {
  border-radius: 10px !important;
}