svg {
    width: 20px;
    height: 20px;
   
    margin-right: 5px;
}

svg:active {
    fill: #6857D9;
}

.button-form {
    line-height: 40px !important;
}

.button-a {
    color: #888599;
    text-decoration: none !important;
}

.main-footer {
    margin-top: 0 !important;
    padding: 0px 0px 0px 0px !important; 
}