
    .active {
      svg {
        fill: #6857D9;
      }
    }
    
    svg {
      fill: #888599;
      height: 20px;
    }
    a{
        text-decoration: none;
    } 
    .active {
      background: #F6F8FE !important;
      border-radius: 5px !important;
    }
    
    
    .nav-link:hover {
      text-decoration: none;
      border-radius: 6px;
    }
    