.navbar-custom {
    border: 2px solid #F2F1F7;
    background-color: #fff;
}

.form-inline-custom {
    select {
        min-height: 100% !important;
        border-color: #cfcfd4 !important;
    }
}

.icon-user {
    padding: 3px;
    border-radius: 5px;
    border: 1.8px solid #F2F1F7;
}

.custom-btn-navbar {
    text-decoration: none !important;
    background-color: #6857D9 !important;
    padding: 7px !important;
    border-radius: 5.5px !important;
    box-shadow: none;
}