.navbar-custom {
    border: 2px solid #F2F1F7;
    background-color: #fff;
}

// .icon-user {
//     padding: 3px;
//     border-radius: 5px;
//     border: 1.5px solid#F2F1F7;
// }

// // Css botão "Novo negócio"

.custom-btn-navbar {
    text-decoration: none !important;
    background-color: #6857D9 !important;
    padding: 4px !important;
    border: 2px solid #6857D9 !important;
    border-radius: 5px !important;
}

// .color_button_navbar {
//     color: #F2F1F7;
// }