.navbar-custom {
    border: 2px solid #F2F1F7;
    background-color: #fff;
    right: 0px;
    .btn-lg {
        font-size: 14px !important;
    }
    .custom-btn-user {
        color: #888599 !important;
        border-radius: 5px;
        border: 1.8px solid #F2F1F7;
        padding: 10px !important;
        i {
            font-size: 15px !important;
            margin: 0px !important;
        }
    }
    
    .custom-btn-navbar {
        text-decoration: none !important;
        background-color: #6857D9 !important;
        border-radius: 5.5px !important;
        box-shadow: none;
    }
    .form-inline-custom {
        select {
            min-height: 100% !important;
            border-color: #cfcfd4 !important;
            border-radius: 2.5px !important;
        }
    }
}