.sidebar-component {
  .row {
    height: 89vh;
    margin: 0;
    div{
      padding: 0;
    }
  }
}

.icon-menu {
  padding: 1rem;
}

.dropdown-divider {
  border-top: 2px solid #F2F1F7;
}

.active {
  svg {
    fill: #6857D9;
  }
  li {
    box-shadow: none !important;
  }
}

svg {
  fill: #888599;
  height: 20px;
}

.active a {
  background: #F6F8FE !important;
}

.active:hover {
  border-radius: 5px;
}

.nav-button {
  padding: 0.5rem;
  border: 1px solid #F2F1F7;
  border-radius: 5px;
  color: #888599 !important; 
}

.logo-img {
  max-width: 100px;
}

.button-company li {
  list-style-type: none;
}

.main-sidebar-custom {
  max-width: 12.5rem;;
}

.nav-link:hover {
  text-decoration: none;
  border-radius: 6px;
}

.sidebar-mini {
  .sidebar-component{
   .container {
  padding: 0;
 }
 
 }
 }

 body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
  box-shadow: none !important;
  background-color: #6777ef;
  color: #fff;
}

.logo-patinha {
  border: 2px solid #f2f2f1;
}