
.sidebar-component {
  padding: 1rem;
  .container {
    padding: 0;
  }
  .row {
    height: 89vh;
    margin: 0;
    div{
      padding: 0;
    }
  }
}

.icon-menu {
  padding: 1rem;
}

.dropdown-divider {
  border-top: 2px solid #F2F1F7;
}

.active a {
  border-right: 1.5px solid var(--light-palette-p-3-line, #F2F1F7);
  background: #F6F8FE !important;
  border-radius: 6px;
  border: 1.9px solid  #EDF1FD;
}

.nav-button {
  padding: 0.5rem;
  border: 1px solid #F2F1F7;
  border-radius: 5px;
  color: #888599 !important; 
}

.logo-img {
  max-width: 100px;
}

.button-company li {
  list-style-type: none;
}

.main-sidebar-custom {
  max-width: 12.5rem;;
}

.active {
  svg {
    fill: #6857D9;
  }
}

.nav-link:hover {
  text-decoration: none;
  border-radius: 6px;

}