<div class="px-4 py-5 items-center text-center events-form-active" >
  <div class="flex justify-center items-center flex-col mt-4">
    <div class="border-2 rounded-md flex justify-center items-center text-center w-11 h-11 border-brand-palette-07 bg-brand-palette-08">
      <i data-lucide="layout-grid" class="text-brand-palette-03"></i>
    </div>
  </div>
  <div class="m-3">
    <p class="font-semibold mb-0 typography-body-s-lh150 text-dark-gray-palette-p1">
      <%= t('views.components.events.form.no_content.add_activity_title') %>
    </p>
    <p class="typography-text-r-lh150 text-dark-gray-palette-p3">
      <%= t('views.components.events.form.no_content.add_activity_instruction') %>
    </p>
  </div>
</div>
